{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block head %}
<title>Edit Form</title>
{% endblock %}


{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'form_creator:form_list' %}">Forms</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ object.get_absolute_url }}">{{ object|truncatechars:20 }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>

<h1>Edit Form</h1>

<form method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_button button_type="submit" content="Submit" %}
  <a href="{{ object.get_absolute_url }}" class="btn btn-danger">Cancel</a>
</form>

{% endblock %}