{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block head %}
<title>Edit Questions</title>
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'form_creator:form_list' %}">Forms</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ object.get_absolute_url }}">{{ object|truncatechars:20 }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit Questions</li>
  </ol>
</nav>

<h1>{{ object }}</h1>
<h2>Edit Questions</h2>

<form method="POST">
  <div class="forms">
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="forms__form mb-3 container border rounded">
        {% bootstrap_form form  %} 
    </div>
    {% endfor %}
{#      {% bootstrap_formset formset %}#}
{#      {% bootstrap_formset_errors formset %}#}
    {% csrf_token %}

  </div>



  <button class="btn btn-primary" id="add-another">Add another</button>

  <div class="mb-3 d-flex justify-content-center">
      {% bootstrap_button button_type="submit" content="Submit" button_class="btn-success" extra_classes="mx-3" %}
      {% bootstrap_button button_type="link" href=object.get_absolute_url content="Cancel" button_class="btn-danger" %}
  </div>
</form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'form_creator/js/additional_questions.js' %}"></script>
{% endblock %}